DB_HOST=localhost
DB_PORT=3306
DB_NAME=taisyoga_db
DB_USER=taisyoga_user
DB_PASSWORD=taisyoga_password
DB_ROOT_PASSWORD=rootpassword

MAIL_USERNAME=seu-email@gmail.com
MAIL_PASSWORD=sua-app-password

JWT_SECRET=sua-chave-jwt-secreta-aqui